/* custom variables */
:root {
  --header-height: 140px;
}

/* height: calc(100vh - var(--header-height)); // 140px is the height of the header */

.App {
  width: 100vw;
  height: 100vh; /* 140px is the height of the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-image: url(https://cdn.prod.website-files.com/65f6a46e784664e0fd8db2c7/65faeef187fb8f462281e79d_hero-bg.png);
}

.App-header {
  max-height: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}
